{% extends 'base.html' %}

{% block title %}All Recipe Collections{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto p-6">
    <nav class="bg-gray-100 p-4 rounded-lg mb-8 shadow-lg">
        <form method="get" class="flex space-x-4 items-center">
            <div class="flex items-center">
                <label for="search" class="mr-2 text-gray-700">Search:</label>
                {{ filter.form.search}}
                <button type="submit" class="ml-2 bg-blue-500 text-white px-2 py-1 rounded-md hover:bg-blue-600 transition">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            {% if user.is_authenticated %}
            <div class="flex items-center col-span-1 md:col-span-2">
                <label for="user_filter" class="flex items-center cursor-pointer">
                    <input type="checkbox" id="user_filter" name="user_filter" value="true" onchange="this.form.submit()"
                        class="hidden" {% if request.GET.user_filter == "true" %} checked {% endif %}>
                    <div class="block w-12 h-6 rounded-full bg-gray-400 transition-colors duration-200"></div>
                    <div class="dot w-6 h-6 rounded-full bg-white absolute left-1  transition-transform duration-200 
                                            {% if request.GET.user_filter == " true" %} translate-x-full {% endif %}">
                    </div>
                    <div class="ml-3 text-gray-700 font-medium">My Collection</div>
                </label>
            </div>
            {% endif %}
        </form>
    </nav>
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-4xl font-bold text-gray-800">Recipe Collections ({{ collection_count }})</h1>
        <a href="{% url 'collection_create'%}"
            class="bg-gradient-to-r from-green-400 to-green-600 text-white px-6 py-2 rounded-full shadow-lg hover:from-green-500 hover:to-green-700 transition duration-300">
            + Create Collection
        </a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for collection in collections %}
        <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-xl transition duration-300">
            <h2 class="text-2xl font-bold text-gray-800 mb-2">{{ collection.title }}</h2>
            <p class="text-gray-500 ">Created on: {{ collection.created_at|date:"F j, Y" }}</p>
            <p class="text-gray-500 mb-4">Created By: {{ collection.user }}</p>
            <p class="text-gray-700 mb-4 font-medium">Number of Recipes:
                <span class="font-bold">{{ collection.recipe_count }}</span>
            </p>
            <a href="{% url 'collection_detail' collection.pk%}"
                class="inline-block bg-blue-500 text-white px-4 py-2 rounded-full shadow-md hover:bg-blue-600 transition duration-300">
                View Collection
            </a>
        </div>
        {% empty %}
        <p>No recipe collections found.</p>
        {% endfor %}
    </div>

    <div class="mt-8">
        <nav class="flex justify-center">
            <ul class="inline-flex items-center space-x-4">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page=1"
                        class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 transition">
                        First
                    </a>
                </li>
                <li>
                    <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}"
                        class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 transition">
                        Previous
                    </a>
                </li>
                {% endif %}
        
                <li>
                    <span class="px-4 py-2 border rounded-lg bg-blue-500 text-white">{{ page_obj.number }}</span>
                </li>
        
                {% if page_obj.has_next %}
                <li>
                    <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}"
                        class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 transition">
                        Next
                    </a>
                </li>
                <li>
                    <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.paginator.num_pages }}"
                        class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 transition">
                        Last
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}