{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
<div class="flex justify-center mt-10">
    <div class="w-full max-w-md">
        <form method="post" novalidate class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                Change password
            </button>
        </form>
    </div>
</div>
{% endblock %}