{% extends 'base.html' %}

{% block title %}Recipes{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto p-6">

    <nav class="bg-gray-100 p-4 rounded-lg mb-8 shadow-lg">
        <form method="get" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 items-center">
    
            <div class="flex items-center">
                <label for="search" class="mr-2 text-gray-700">Search:</label>
                {{ filter.form.search}}
                <button type="submit" class="ml-2 bg-blue-500 text-white px-2 py-1 rounded-md hover:bg-blue-600 transition">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </nav>

    <div class="flex justify-end mb-6">
        <a href="{% url 'recipe-create' %}"
            class="bg-gradient-to-r from-green-400 to-green-600 text-white px-6 py-2 rounded-full shadow-md hover:from-green-500 hover:to-green-700 transition duration-300">
            + Create Recipe
        </a>
    </div>

    <section>
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Featured Recipes</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for recipe in featured_recipes_page_obj %}
            <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-xl transition duration-300">
                <img src="{{ recipe.images.first.image.url }}" alt="{{ recipe.title }}"
                    class="w-full h-48 object-cover rounded-t-lg">
                <h3 class="text-lg font-bold mt-4">{{ recipe.title }}</h3>
                <p class="text-gray-600 pb-1">By {{ recipe.author.username }}</p>
                <p class="text-gray-600 pb-1">Cuisine: {{ recipe.get_cuisine_display }}</p>
                <p class="text-gray-600 pb-1">Difficulty: {{ recipe.get_difficulty_display }}</p>
                <p class="text-gray-600 pb-1">Calories: {{ recipe.calories }}</p>
                <p class="text-gray-600 pb-5">Food_Type: {{ recipe.get_food_type_display }}</p>
                <a href="{% url 'recipe_detail' recipe.pk%}"
                    class="inline-block bg-blue-500 text-white px-2 py-1 rounded-full shadow-md hover:bg-blue-600 transition duration-300">
                    View Recipe
                </a>
            </div>
            {% empty %}
            <p>No featured recipes available.</p>
            {% endfor %}
        </div>

        <div class="mt-8">
            <nav class="flex justify-center">
                <ul class="inline-flex items-center space-x-2">
                    {% if featured_recipes_page_obj.has_previous %}
                    <li>
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'featured_page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}featured_page=1&page={{ recipes_page_obj.number }}"
                            class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 transition duration-300 ease-in-out">
                            First
                        </a>
                    </li>
                    <li>
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'featured_page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}featured_page={{ featured_recipes_page_obj.previous_page_number }}&page={{ recipes_page_obj.number }}"
                            class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 transition duration-300 ease-in-out">
                            Previous
                        </a>
                    </li>
                    {% endif %}
        
                    <li>
                        <span
                            class="px-4 py-2 border rounded-lg bg-blue-600 text-white">{{featured_recipes_page_obj.number}}</span>
                    </li>
        
                    {% if featured_recipes_page_obj.has_next %}
                    <li>
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'featured_page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}featured_page={{ featured_recipes_page_obj.next_page_number }}&page={{ recipes_page_obj.number }}"
                            class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 transition duration-300 ease-in-out">
                            Next
                        </a>
                    </li>
                    <li>
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'featured_page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}featured_page={{ featured_recipes_page_obj.paginator.num_pages }}&page={{ recipes_page_obj.number }}"
                            class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 transition duration-300 ease-in-out">
                            Last
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>

    <section class="mt-10">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">All Recipes</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for recipe in recipes_page_obj %}
            <div class="bg-white p-6 rounded-xl shadow-lg hover:shadow-xl transition duration-300">
                <img src="{{ recipe.images.first.image.url }}" alt="{{ recipe.title }}"
                    class="w-full h-48 object-cover rounded-t-lg">
                <h3 class="text-lg font-bold mt-4">{{ recipe.title }}</h3>
                <p class="text-gray-600 pb-1">By {{ recipe.author.username }}</p>
                <p class="text-gray-600 pb-1">Cuisine: {{ recipe.get_cuisine_display }}</p>
                <p class="text-gray-600 pb-1">Difficulty: {{ recipe.get_difficulty_display }}</p>
                <p class="text-gray-600 pb-1">Calories: {{ recipe.calories }}</p>
                <p class="text-gray-600 pb-5">Food_Type: {{ recipe.get_food_type_display }}</p>
                <a href="{% url 'recipe_detail' recipe.pk%}"
                    class="inline-block bg-blue-500 text-white px-2 py-1 rounded-full shadow-md hover:bg-blue-600 transition duration-300">
                    View Recipe
                </a>
            </div>
            {% empty %}
            <p>No recipes found.</p>
            {% endfor %}
        </div>
 
        <div class="mt-8">
            <nav class="flex justify-center">
                <ul class="inline-flex items-center space-x-2">
                    {% if recipes_page_obj.has_previous %}
                    <li>
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page=1&featured_page={{ featured_recipes_page_obj.number }}"
                            class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 transition duration-300 ease-in-out">
                            First
                        </a>
                    </li>
                    <li>
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ recipes_page_obj.previous_page_number }}&featured_page={{ featured_recipes_page_obj.number }}"
                            class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 transition duration-300 ease-in-out">
                            Previous
                        </a>
                    </li>
                    {% endif %}
        
                    <li>
                        <span class="px-4 py-2 border rounded-lg bg-blue-600 text-white">{{ recipes_page_obj.number}}</span>
                    </li>
        
                    {% if recipes_page_obj.has_next %}
                    <li>
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ recipes_page_obj.next_page_number }}&featured_page={{ featured_recipes_page_obj.number }}"
                            class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 transition duration-300 ease-in-out">
                            Next
                        </a>
                    </li>
                    <li>
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ recipes_page_obj.paginator.num_pages }}&featured_page={{ featured_recipes_page_obj.number }}"
                            class="px-4 py-2 border rounded-lg bg-gray-100 hover:bg-gray-200 transition duration-300 ease-in-out">
                            Last
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </section>

</div>
{% endblock %}