{% load widget_tweaks %}
{% for field in form %}
<div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
        {{ field.label }}
    </label>

    {% if form.is_bound %}
    {% if field.errors %}
    {% render_field field class="border border-red-500 rounded p-2 w-full is-invalid" %}
    <div class="text-red-500 text-xs italic mt-1">
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% else %}
    {% render_field field class="border border-green-500 rounded p-2 w-full is-valid" %}
    {% endif %}
    {% else %}
    {% render_field field class="border border-gray-300 rounded p-2 w-full" %}
    {% endif %}

    {% if field.help_text %}
    <small class="text-gray-600 text-xs">{{ field.help_text }}</small>
    {% endif %}

    {% if field.field.widget_type == 'CheckboxInput' or field.field.widget_type == 'BooleanCheckboxInput' %}
    <div class="flex items-center mt-2"> <!-- Flex container for checkbox and label -->
        {% render_field field class="mr-2" %} <!-- Render the checkbox with margin -->
        <label for="{{ field.id_for_label }}" class="text-sm font-medium">{{ field.label }}</label>
    </div>
    {% endif %}
</div>
{% endfor %}